[Unit]
Description="Mount picture frame ftp and rsync photo directory"
After=network-online.target
Wants=network-online.target

[Service]
ExecStart={{path_to_script}}

[Install]
WantedBy=multi-user.target
